body {
    font-family: sans-serif
}
.main-container {
    width: 100%;
}
.main-wrapper {
    margin: auto;
}
.wrapper-form-area {
    display: flex;
    flex-direction: row;
}
.right-area-container {
    background: white;
    width: 20%
}
.middle-area-container {
    width: 43%
}
.left-area-container {
    background: #d1d1d1;
    min-height: 92%;
    width: 37%
}

.icon-body-conatiner {
    display: grid;
    grid-gap: 1rem;
    grid-auto-flow: column;
    margin-right: 5rem;
}
.icon-body-conatiner {
    display: grid;
    grid-gap: 1rem;
    grid-auto-flow: column;
}
.icon-body-wrapper {
    border-radius: 0.3rem;
    border: 0.05rem #d1d1d1 solid;
    border-bottom: 0.5rem #d1d1d1 solid;
    display: flex;
    flex-direction: column;
    height: 8rem;
    width: 10rem;
    cursor: pointer;
}
.icon-color, .icon-name {
    color: #b3b3b3;
}

.icon-name {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 0.9rem;
    margin-top: 0.4rem;
}
.shape-name-wrapper {
    flex-direction: column;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 1rem;
}
.tick {
    align-self: flex-end
}
.fa-check {
    padding-left: 1.5rem;
    padding-top: 0.3rem;
    color: #284a70;
    display: none;
}
.icon-header-container {
    margin-top: 3rem;
    margin-bottom: 1.5rem;
    font-family: sans-serif;
    font-size: 1.4rem;
    font-weight: 600;
    color: darkslategray;
}
.info-header-text {
    font-family: sans-serif
}
.information-box-container {
    height: 10rem;
    width: 15.5rem;
    background: white;
    margin: 3rem 0 0 2rem;
}
.information-box-wrapper {
    padding: 1rem;
    font-family: sans-serif;
}
.info-header-text{
    line-height: 1.5rem;
}
.info-header-body {
    margin-top: 0.7rem;
}
.postal-ville-wrapper {
    display: flex;
    justify-content: space-between;
}
.form-input {
    border-color: #284a70;
    height: 1.7rem;
    border-style: double;
}
.postal-input {
    width: 70%;
}
.postal-input-tele {
    width: 50%;
}
.adresse-input {
    width: 60%;
}
.form-container {
    margin: 3rem 1.5rem 0;
}
.form-header-wrapper{
    font-weight: 600;
    font-size: 1.6rem;
    color: darkslategray;
    margin-bottom: 3rem
}
.postal-ville-wrapper {
    margin-bottom: 3rem;
}
.label-wrapper {
    margin-bottom: 0.5rem;
}
hr {
    margin-top: 1.5rem;
    margin-bottom: 2rem;
}
.form-footer-wrapper {
    display: flex;
    justify-content: space-between;
}
.label-wrapper-maison {
    display: flex;
    margin-top: 1.5rem;
}
.form-input-maison {
    width: 74%;
    height: 2rem;
}
.form-input-maison-num {
    width: 58%;
    height: 2rem;
    text-align: center;
}
.form-label-maison {
    width: 50%;
}
.m-square {
    margin-left: 1rem
}
.maison-group-two {
    /*margin-top: 6rem;*/
}
.appart-group-two {
    margin-bottom: 2rem;
}
.fa-check{
    margin-right: 0.8rem;
}
input.submit-btn {
    color: white;
    background: #284a70;
    width: 7rem;
    height: 2.5rem;
    font-size: inherit;
    border-style: unset;
    border-radius: 0.3rem;
    text-align: center
}
.success-form-container {
    display: flex;
    justify-content: center;
    box-shadow: 0 10px 30px 0 rgba(0, 0, 0, 0.3);
    margin-left: 0;
    height: 27rem;
}
.fa-check-circle{
    border-radius: 11rem;
    box-shadow: 0 10px 30px 2px #5bd45b;
    color: #5bd45b;

}
input.submit-last {
    width: 13rem;
    font-size: 0.8rem;
}
.input-wrapper-submit-last {
    justify-content: center;
    align-items: center;
    flex-direction: column
}
.fotter-para-one {
    width: 12rem;
    text-align: center;
    font-weight: 600;
    margin: 3rem 0 0.7rem;
}
.fotter-para-two {
    width: 26rem;
    text-align: center;
    margin: 0;
}
.success-tick {
    display: flex;
    justify-content: center;
    padding-top: 3rem;
}
.hr-progress{
    width: 30%;
    color: yellow;
    height: 5px;
    background: #ffff0f;
    border-style: double;
    margin-inline-start: unset;
    margin-inline-end: unset;
    margin: unset;
}
.progress-bar-wrapper{
    display: flex
}
.hr-progress-left{
    width: 30%;
    color: #284a70;
    background: #284a70;
}
.hr-progress-right{
    width: 70%;
    color: #bbbbbb;
    background: #bbbbbb;
}
.nav-bar-wrapper {
    display: flex;
    align-items: baseline;
    margin: 1rem 0;
}
.left-text-home {
    font-size: 1.4rem;
    font-weight: 600;
}
.right-text-home{
    font-size: 1.4rem;
    font-weight: 600;
    color: #284a70;
}
.step-two-text {
    font-weight: 600;
}
.nav-bar-logo {
    margin: 0 3rem 0 1rem;
}
.success-text-one {
    text-align: center;
    font-size: 2.3rem;
    color: #284a70;
    margin: 1rem 0 0.5rem;
}
.success-text-two {
    text-align: center;
    font-size: 1.2rem;
    color: #2869a8;
}
.success-text-three {
    text-align: center;
    font-weight: 600;
    color: #284a70;
    margin: 4rem 0 2rem;
}
.display-hide {
    display: none
}
.display-show {
    display: block
}
.visible-hide {
    visibility: hidden;
}
.visible-show {
    visibility: visible;
}
.active-border{
    border: 0.05rem #284a70 solid;
    border-bottom: 0.5rem #284a70 solid;
}
.field--invalid {
    border: 1px solid #284a70;
}
.field__postfix {
    background: #f2f3f4;
    height: 2rem;
    display: block;
    float: right;
    width: 25%;
    text-align: center;
    border-left: 1px solid #e2e2e2;
    border-radius: 0 .133333333rem .133333333rem 0;
    color: #9a9a9a;
    line-height: 2;
}
.field__postfix-num {
    background: #f2f3f4;
    height: 2rem;
    display: block;
    float: right;
    width: 25%;
    text-align: center;
    border-left: 1px solid #e2e2e2;
    border-radius: 0 .133333333rem .133333333rem 0;
    color: #9a9a9a;
    line-height: 2;
}

.decrement-num,.increment-num  {
    height: 2rem;
    background: none;
    width: 20%;
    display: block;
    border-left: 1px solid #e2e2e2;
    border-radius: 0 .133333333rem .133333333rem 0;
    float: right;
    text-align: center;
    color: #0074e4;
    font-size: 17px;
    line-height: 2;
}

.decrement-num {
    width: 20.8%;
}